#content,
#adContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 136px;
    visibility: hidden;
}

#contentElement {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 136px;
    overflow: hidden;
    visibility: hidden;
}